body {
    box-sizing: border-box;
    font-family: 'inter';
    font-weight: 400;
    font-size:  1rem;
    color: #e7e7e7;
    background-color: #313131;
}

// a,
// button,
// input,
// textarea,
// svg * {
    
//     transition-duration: var(--transition-duraction);
// }

a {
    text-decoration: none;
    color: inherit;
}

